<!--
 * @Author: your name
 * @Date: 2021-05-11 20:17:47
 * @LastEditTime: 2021-05-13 10:43:10
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \myframe\resources\views\students.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生信息列表</title>
</head>
<body>
  <form action="update" method="POST">
    <div>
      <label for="name">姓名：</label>
      <input type="text" name="name" id="name" value="{$data.name}">
    </div>

    <div>
      <label for="gender">性别：</label>
      <input type="text" name="gender" id="gender" value="{$data.gender}">
    </div>

    <div>
      <label for="email">性别：</label>
      <input type="text" name="email" id="email" value="{$data.email}">
    </div>

    <div>
      <label for="mobile">性别：</label>
      <input type="text" name="mobile" id="mobile" value="{$data.mobile}">
    </div>

    <div>
      <input type="hidden" name="id" value="{$data.id}">
    </div>

    <div>
      <input type="submit" value="提交">
    </div>


  </form>
</body>
</html>
